<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="theme-color" content="#3d44f7" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap" rel="stylesheet">
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <nav>
            <a class="logo" href="{{ url_for('index') }}">P2P-Message</a>
            {% if current_user.is_authenticated %}
            <p>{{ current_user.name}}</p>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>

        <div class="container">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div
                    class="message {% if message[0] == 'e' %}sent{% else %}received{% endif %}"
                >
                    {% if message[0] == 'e' %}
                    <span class="sender">{{ current_user.username }}</span>
                    {% else %}
                    <span class="sender">{{ current_user.username }}</span>
                    {% endif %}
                    <span class="content">{{ message[] }}</span>
                </div>
                {% endfor %}
            </div>
            {% endif %} {% endwith %} {% block content %}{% endblock %}
        </div>
    </body>
</html>
